
.dropdown-menu-collection {
  position: absolute !important;
}

.logo {
  width: 326px;
  position: relative;
}

.navbar {
  z-index: 70;
}

li a {
    color:white;
    cursor: pointer;
}

li a:hover {
    color: #d1d1d1;
}

li {
    margin-right: 15px;
}

.dropdown-menu-collection {
    background-color: #262323;
}

.dropdown-item {
  margin-left: 5px;
  margin-right: 5px;
}
