<div class="site-footer-wrapper">

  <div class="site-footer-div">
    <a href="{{this.baseUrl}}/index.aspx">
      <img src="/assets/images/footer_logo.png">
    </a>
  </div>

  <div class="footer-text">
    <p>
      6300 Library Road | South Park, PA 15129
      <br>
      <a href="tel:(412) 833-6111">(412) 833-6111</a>
    </p>
    <br>
    <a href="{{this.baseUrl}}/contentpages.aspx?p=587912c7-dad1-428f-9db2-ee7d664edb3b" class="black-button">CONTACT US</a>
    <a href="{{this.baseUrl}}/contentpages.aspx?p=964ea9df-9ef5-4de4-b73e-9d4ced12cef9" class="black-button">FIND US</a>
    <p>
      © Copyright 2023, Peters Creek Baptist Church, All Rights Reserved.
    </p>
  </div>

</div>
