/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.sermon-background {
    width: 250px;
    height: 150px;
}

.header-image {
  background-color: #ffffff;
  background-image: url( "/assets/images/subheader_default.jpg" );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
  position: absolute;
}

.sermon-series {
  z-index: 100;
  position: relative;
}
